---
---
@import "{{ site.theme }}";

/* Custom styles for gs-opt documentation */

body {
  padding: 2rem 1rem; /* Increase vertical padding */
  line-height: 1.6;   /* Increase line spacing for better readability */
}

@media screen and (min-width: 64em) {
  body {
    padding: 2rem 6rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  body {
    padding: 2rem 4rem;
  }
}
